
/*******
*
* navbar & header 
*
********/

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Roboto';
  color: white;
}

.navbar-custom div {
  margin: 0px 50px;
}

.navbar-custom .navbar-brand {
  color: white;
  font-weight: 800;
  font-family: 'Roboto';
}
.navbar-custom .navbar-header .navbar-toggle {
  font-weight: 800;
  font-size: 12px;
  font-family: 'Roboto';
}
.navbar-custom .nav .Nav-list-link a {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Roboto';
  color: white;
}

.navbar-custom .nav .dropdown .dropdown-toggle {
  font-size: 15px;
  font-weight: 800;
  color: white;
  padding: 20px;
}

.navbar-custom .nav .dropdown a:hover {
  color: rgba(0, 0, 0, 0.4);
}

.navbar-custom .nav .Nav-list-link a:hover {
  background: rgba(0, 0, 0, 0.4);
}

.navbar-brand, .navbar-right  {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    padding: 20px;
    font-size: 21px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: black; /*** change this ****/
  }
  .navbar-custom .nav .Nav-list-link a {
    padding: 20px;
  }
  .navbar-custom .nav .Nav-list-link a:hover,
  .navbar-custom .nav .Nav-list-link a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: #333333;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: #0085A1;
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav .Nav-list-link a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav .Nav-list-link a:hover,
  .navbar-custom.is-fixed .nav .Nav-list-link a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.navbar-override {
  background: rgba(0, 0, 0, 0.27058823529411763);
  color: white;
}