.social-buttons {
  bottom: 20px;
  position: fixed;
  left: 30px;
}

.fai {
  padding: 4px;
  font-size: 30px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fai:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
