@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: Roboto;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(236, 235, 235, 0.58);
}

.container {
  height: 100%;
}

/******
*
* Global
*
******/
ul {
  list-style: none;
}

.bg-white {
  background-color: white;
}

/*** box-shadow ***/
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.push {
  margin-top: 40px;
}

.push-profile {
  margin-top: 70px;
}

/*******
*
* container
*
********/

.container {
  color: rgba(37, 51, 70, .9);
}

.container > .row > .col-md-4 {
  padding-bottom: 30px;
}

/******
*
* Form group
*
*******/
.form-control {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
